Repository foray1010/eslint-config-foray1010: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'CHANGELOG.md'
linters:
  '*.js':
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

chore(deps): update dependency eslint to v5.15.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.15.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(package): yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

feat: sync typescript config with base config
  rules/base.js
  rules/typescript.js
Due: prettier-eslint --write, eslint --fix

test: add didyoumean2 to test
  package.json
Due: prettier-eslint --write

feat(rules): add react-hooks/exhaustive-deps
  rules/react.js
Due: prettier-eslint --write, eslint --fix

chore: include typescript in devDependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(release): 7.2.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): pin dependency typescript to 3.3.3333
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.15.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.15.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.3.4000
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.14.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.4.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.16.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.15.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.4.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.4.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency typescript to v3.4.5
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): dependencies maintenance
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: update renovate config
  .renovaterc.json
Due: prettier-eslint --write

feat: use eslint-plugin-redux-saga
  package.json
  rules/react.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore(release): 7.3.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency husky to v2.2.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.1.6
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update commitlint monorepo to v7.6.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @commitlint/cli to v7.6.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.16.0
  package.json
  yarn.lock
Due: prettier-eslint --write
