Repository foray1010/eslint-config-foray1010: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix, markdownlint, ignore-sync

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v8.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v3.0.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v9.2.1
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency eslint-plugin-node to v9
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency husky to v3.0.2
  package.json
  yarn.lock
Due: prettier-eslint --write

ci: cache yarn packages in test
  .circleci/config.yml
Due: prettier-eslint --write

chore(deps): update dependency husky to v3.0.3
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency eslint-plugin-flowtype to v4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: run tests one by one to avoid too many requests to yarn
  package.json
Due: prettier-eslint --write

fix(deps): update typescript-eslint monorepo to v2
  package.json
  yarn.lock
Due: prettier-eslint --write

fixup! fix(deps): update typescript-eslint monorepo to v2
  package.json
  rules/typescript.js
Due: prettier-eslint --write, eslint --fix

chore(release): 7.3.3
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency eslint to v6
  package.json
  yarn.lock
Due: prettier-eslint --write

feat(deps): update dependency eslint-config-airbnb to v18
  .eslintignore
  package.json
  rules/babel.js
  rules/plain-nodejs.js
  rules/react.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

feat: support eslint v6
  babel-node.js
  lib/resolveConfig.js
  package.json
  react.js
  rules/babel.js
  rules/flow.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore: remove eslint-plugin-fp
  package.json
  rules/base.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

fix: only run eslint-plugin-html on frontend preset
  rules/base.js
  rules/frontend.js
  rules/plain-nodejs.js
  rules/typescript.js
Due: prettier-eslint --write, eslint --fix

feat: add typescript-react preset
  typescript-react.js
Due: prettier-eslint --write, eslint --fix

docs: update README.md
  README.md
Due: prettier-eslint --write, markdownlint

chore(release): 8.0.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency husky to v3.0.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v9.2.3
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.18.0
  package.json
  yarn.lock
Due: prettier-eslint --write

Path conditions:
  prettier-eslint --write: ((any of: *.js) or (any of: *.{json,yaml,yml})) or (any of: *.md)
  eslint --fix: any of: *.js
  markdownlint: any of: *.md
  ignore-sync: any of: *ignore-sync
