Repository foray1010/eslint-config-foray1010: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - "CHANGELOG.md"
linters:
  "*.js":
    - "prettier-eslint --write"
    - "eslint --fix"
    - "git add"
  "*.json":
    - "prettier-eslint --write"
    - "git add"
  "*.md":
    - "markdownlint"
  "*ignore-sync":
    - "ignore-sync"
    - "git add"

chore(package): yarn upgrade
  yarn.lock
Due: none

fix: disable no-process-exit
  rules/base.js
Due: prettier-eslint --write, eslint --fix

chore(release): 6.15.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

feat: upgrade to eslint-config-airbnb 17.1.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix: allow 300 lines files
  rules/base.js
Due: prettier-eslint --write, eslint --fix

chore(release): 6.16.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

feat: support typescript
  package.json
  rules/es-modules.js
  rules/typescript.js
  typescript.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore(release): 6.17.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

fix: allow 3 level nested scope
  rules/base.js
Due: prettier-eslint --write, eslint --fix

chore(package): yarn upgrade
  .commitlintrc.yml
  .eslintrc.yml
  .gitignore
  .huskyrc.yml
  .lintstagedrc.yml
  .npmignore
  circle.yml
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(release): 6.17.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore: add back integrity field in yarn.lock
  yarn.lock
Due: none

fix: upgrade babel-eslint to 10
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(release): 6.17.2
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(release): 6.17.3
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(package): yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(package): upgrade eslint-plugin-jest
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(release): 6.17.4
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore: remove hacked subdependencies event-stream & flatmap-stream
  yarn.lock
Due: none
