Repository foray1010/eslint-config-foray1010: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix, markdownlint, ignore-sync

.lintstagedrc.yml:

ignore:
  - 'CHANGELOG.md'
linters:
  '*.js':
    - 'prettier-eslint --write'
    - 'eslint --fix'
    - 'git add'
  '*.{json,yaml,yml}':
    - 'prettier-eslint --write'
    - 'git add'
  '*.md':
    - 'markdownlint'
  '*ignore-sync':
    - 'ignore-sync'
    - 'git add'

chore: remove hacked subdependencies event-stream & flatmap-stream
  yarn.lock
Due: none

feat: use @typescript-eslint as typescript's eslint plugin and parser
  package.json
  rules/typescript.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore(release): 6.18.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

feat: upgrade typescript eslint plugin and parser
  package.json
  rules/typescript.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore(release): 6.19.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(package): yarn upgrade
  yarn.lock
Due: none

Add renovate.json
  renovate.json
Due: prettier-eslint --write

chore: update renovate config
  .renovaterc.json
  renovate.json
Due: prettier-eslint --write

ci: update circleci config
  .circleci/config.yml
  circle.yml
  package.json
Due: prettier-eslint --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

feat: add lint rules for react hook
  package.json
  rules/react.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

feat: use React.createElement as pragma
  rules/es-modules.js
  rules/react.js
Due: prettier-eslint --write, eslint --fix

feat: ts/tsx extension has highest priority in import/resolver
  rules/es-modules.js
Due: prettier-eslint --write, eslint --fix

chore(release): 7.0.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

docs: update CHANGELOG.md
  CHANGELOG.md
Due: markdownlint

test: test typescript in test_repo.sh
  scripts/test_repo.sh
Due: none

chore(deps): update dependency @commitlint/cli to v7.5.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency @commitlint/cli to v7.5.2
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.1.4
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency eslint to v5.14.0
  package.json
  yarn.lock
Due: prettier-eslint --write

docs: update README.md
  README.md
Due: markdownlint

feat: support linting inside html
  package.json
  rules/base.js
  yarn.lock
Due: prettier-eslint --write, eslint --fix

chore(release): 7.1.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency markdownlint-cli to v0.14.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix: fix errors when running on typescript files
  rules/base.js
  rules/es-modules.js
  rules/typescript.js
Due: prettier-eslint --write, eslint --fix

chore(release): 7.1.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

fix: disable @typescript-eslint/explicit-function-return-type
  rules/typescript.js
Due: prettier-eslint --write, eslint --fix

fix: allow using jsx in .tsx
  rules/react.js
Due: prettier-eslint --write, eslint --fix

chore(release): 7.1.2
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): update dependency lint-staged to v8.1.5
  package.json
  yarn.lock
Due: prettier-eslint --write
